*{ 
    
    padding: 0;
    margin: 0;


 

}

.container{

    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{

    width: 400px;
    height: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

#buton{

    width: 200px;
    height: 50px;
    float: right;
}

